<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        .title1{
            text-align: left;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form th:if="${user.getRole().equals('ADMIN')}" th:action="@{/blagodem/main}" th:name="application" method="post">
    <div class="container mt-5" th:if="${user.getRole().equals('ADMIN')}">
        <div class="col-sm-6">
            <label for="status" class="form-label">Выберите статус заявки</label>
            <select class="form-select" name="status" id="status" required="">
                <option value="">Выберите статус</option>
                <option value="Не подтверждено">Не подтверждено</option>
                <option value="В обработке">В обработке</option>
                <option value="Отклонено">Отклонено</option>
                <option value="Выполнено">Выполнено</option>
            </select>
            <div class="invalid-feedback">
                Выберите статус заявки
            </div>
        </div>
    </div>
    </div>
        <label class="form-label"></label>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Подтвердить</button>
    </div>
</form>


<form th:if="${user.getRole().equals('ADMIN')}" th:action="@{/blagodem/main}" th:name="request" method="post">
    <div class="container mt-5" th:if="${user.getRole().equals('ADMIN')}">
        <div class="col-sm-6">
            <label for="status-v" class="form-label">Выберите статус запроса волонтера</label>
            <select class="form-select" name="status" id="status-v" required="">
                <option value="">Выберите статус</option>
                <option value="Не подтвержден">Не подтверждено</option>
                <option value="В обработке">В обработке</option>
                <option value="Отклонено">Отклонено</option>
                <option value="Выполнено">Выполнено</option>
            </select>
            <div class="invalid-feedback">
                Выберите статус запроса волонтера
            </div>
        </div>
    </div>
</form>

</body>